# roles/bind/tasks/master.yml
# Set up a BIND slave server
---

- name: Slave | Main BIND config file (slave)
  template:
    src: slave_etc_named.conf.j2
    dest: "{{ bind_config }}"
    owner: "{{ bind_owner }}"
    group: "{{ bind_group }}"
    mode: '0640'
    setype: named_conf_t
    validate: 'named-checkconf %s'
  notify: reload bind
  tags: bind
