//
// named.conf
//
{{ ansible_managed | comment('c') }}
//
// See http://www.zytrax.com/books/dns/ch7/ for named.conf configuration details
//
//
{% if bind_tsig_keys is defined %}
{% for key in bind_tsig_keys %}
key "{{ key.name }}" {
  algorithm {{ key.algorithm }};
  secret "{{ key.secret }}";
};
{% endfor %}
{% endif %}

{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};
{% endfor %}

controls {
{% if bind_controls is defined %}
{% for control in bind_controls %}
  inet {{ control.inet }} port {{ control.port }}
    allow {
{% for allow_item in control.allow_list %}
      {{ allow_item }};
{% endfor %}
    }
{% if control.key_list is defined %}
    keys {
{% for key_item in control.key_list %}
      {{ key_item }};
{% endfor %}
    }
{% endif %}
  ;
{% endfor %}
{% endif %}
};

logging {
	channel dns_syslog {
	syslog local5;
	severity info;
};
	channel messages {
	syslog;
	severity info;
};
	category default { messages; };
	category notify  { null; };
	category queries { dns_syslog; };
};

{% if bind_statistics_channels %}
statistics-channels {
  inet {{ bind_statistics_host }} port {{ bind_statistics_port }} allow { {{ bind_statistics_allow|join('; ') }}; };
};
{% endif %}

options {

  /* Queries */
{% if bind_allow_query is defined %}
  allow-query { {{ bind_allow_query|join('; ') }}; };
{% endif %}
{% if bind_forward_only %}
  forward only;
{% endif %}
{% if bind_forwarders|length > 0 %}
  forwarders { {{ bind_forwarders|join('; ') }}; };
{% endif %}
  recursion {% if bind_recursion %}yes{% else %}no{% endif %};
{% if bind_recursion %}
  allow-recursion { {{ bind_allow_recursion|join('; ') }}; };
{% endif %}
  rrset-order { order {{ bind_rrset_order }}; };
{% if bind_statements.queries is defined %}
{% for statements in bind_statements.queries %}
  {{ statements }};
{% endfor %}
{% endif %}

  /* Transfers */
{% if bind_views is not defined %}
{% if bind_acls|length != 0 %}
  allow-transfer  { {% for acl in bind_acls %}"{{ acl.name }}"; {% endfor %}};
{% endif %}
{% endif %}
{% if bind_statements.transfers is defined %}
{% for statements in bind_statements.transfers %}
  {{ statements }};
{% endfor %}
{% endif %}

  /* Operations */
{% if bind_check_names is defined %}
  check-names {{ bind_check_names }};
{% endif %}
  directory   "{{ bind_dir }}";
  dump-file   "{{ bind_dir }}/data/cache_dump.db";
  listen-on port 53 { {{ bind_listen_ipv4|join('; ') }}; };
  listen-on-v6 port 53 { {{ bind_listen_ipv6|join('; ') }}; };
  memstatistics-file "{{ bind_dir }}/data/named_mem_stats.txt";
  pid-file "/run/named/named.pid";
{% if bind_query_log is defined %}
  querylog yes;
{% else %}
  querylog no;
{% endif %}
  session-keyfile "/run/named/session.key";
{% if bind_statements.operations is defined %}
{% for statements in bind_statements.operations %}
  {{ statements }};
{% endfor %}
{% endif %}

  /* Security */
  bindkeys-file "/etc/named.iscdlv.key";
  dnssec-enable {% if bind_dnssec_enable %}yes{% else %}no{% endif %};
  dnssec-validation {% if bind_dnssec_validation %}yes{% else %}no{% endif %};
  managed-keys-directory "{{ bind_dir }}/dynamic";
{% if bind_statements.security is defined %}
{% for statements in bind_statements.security %}
  {{ statements }};
{% endfor %}
{% endif %}

  /* Statistics */
  statistics-file "{{ bind_dir }}/data/named_stats.txt";
{% if bind_statements.statistics is defined %}
{% for statements in bind_statements.statistics %}
  {{ statements }};
{% endfor %}
{% endif %}

}; # end GLOBAL options


{% if bind_servers is defined %}
{% for bind_server in bind_servers %}
server {{ bind_server.ipaddr }} {
{% if bind_server.key is defined %}
  keys { {{ bind_server.key }}; };
{% endif %}
{% if bind_server.edns is defined %}
  edns {% if bind_server.edns %}yes{% else %}no{% endif %};
{% endif %}
{% if bind_server.bogus is defined %}
  bogus {% if bind_server.bogus %}yes{% else %}no{% endif %};
{% endif %}
};
{% endfor %}
{% endif %}


{% if bind_masters is defined %}
{% for bind_master in bind_masters %}
masters "{{ bind_master.name }}" {
{% for master in bind_master.master_list %}
  {{ master.address }}{% if master.tsig_key is defined %} key {{ master.tsig_key }}{% endif %};
{% endfor %}
}; 
{% endfor %}
{% endif %}

{% for file in bind_extra_include_files %}
include "{{ file }}";
{% endfor %}

{% if bind_zone_domains is defined and bind_views is not defined %}
{% for file in bind_default_zone_files %}
include "{{ file }}";
{% endfor %}

{% for bind_zone in bind_zone_domains %}
zone "{{ bind_zone.name }}" IN {
  type slave;
{% if bind_zone.masters is defined %}
  masters { {{ bind_zone.masters }}; };
{% else %}
  masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
  file "slaves/{{ bind_zone.name }}";
{% if bind_zone.delegate is defined %}
  forwarders {};
{% endif %}
};

{% if bind_zone.networks is defined %}
{% for network in bind_zone.networks %}
zone "{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa" IN {
  type slave;
{% if bind_zone.masters is defined %}
  masters { {{ bind_zone.masters }}; };
{% else %}
  masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
  file "slaves/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
};
{% endfor %}
{% endif %}

{% if bind_zone.ipv6_networks is defined %}
{% for network in bind_zone.ipv6_networks %}
zone "{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):] }}" IN {
  type slave;
{% if bind_zone.masters is defined %}
  masters { {{ bind_zone.masters }}; };
{% else %}
  masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
  file "slaves/{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):-1] }}";
};
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if bind_views is defined %}
{% for bind_view in bind_views %}
view "{{ bind_view.name }}" {
{% if bind_view.match_clients is defined %}
  match-clients { {{ bind_view.match_clients|join('; ') }}; };
{% endif %}
{% if bind_view.match_destinations is defined %}
  match-destinations { {{ bind_view.match_destinations|join('; ') }}; };
{% endif %}
{% if bind_view.match_recursive_only is defined %}
  match-recursive-only {% if bind_view.match_recursive_only %}yes{% else %}no{% endif %};
{% endif %}

{% if bind_view.tsig_keys is defined %}
{% for key in bind_view.tsig_keys %}
  key "{{ key.name }}" {
    algorithm {{ key.algorithm }};
    secret "{{ key.secret }}";
  };
{% endfor %}
{% endif %}

  /* Queries */
{% if bind_view.allow_query is defined %}
  allow-query { {{ bind_view.allow_query|join('; ') }}; };
{% endif %}
{% if bind_view.recursion is defined %}
  additional-from-auth {% if bind_view.recursion %}yes{% else %}no{% endif %};
  additional-from-cache {% if bind_view.recursion %}yes{% else %}no{% endif %}; 
  recursion {% if bind_view.recursion %}yes{% else %}no{% endif %};
{% endif %}

  /* Transfer */
{% if bind_view.allow_notify is defined %}
  allow-notify { {{ bind_view.allow_notify|join('; ') }}; };
{% endif %}
{% if bind_view.allow_transfer is defined %}
  allow-transfer { {{ bind_view.allow_transfer|join('; ') }}; };
{% endif %}
{% if bind_view.also_notify is defined %}
  also-notify { {{ bind_view.also_notify|join('; ') }}; };
{% endif %}
{% if bind_view.notify is defined %}
  notify {{ bind_view.notify }};
{% endif %}

  /* Operations */

  /* Security */

  /* Statistics */

  /* Includes */
{% for file in bind_default_zone_files %}
  include "{{ file }}";
{% endfor %}
{% if bind_view.include_files is defined %}
{% for file in bind_view.include_files %}
  include "{{ file }}";
{% endfor %}
{% endif %}

  /* Zones */

{% for bind_zone in bind_zone_domains %}
{% if bind_zone.view is defined and bind_zone.view == bind_view.name %}
  zone "{{ bind_zone.name }}" IN {
    type slave;
{% if bind_zone.masters is defined %}
    masters { {{ bind_zone.masters }}; };
{% else %}
    masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
    file "slaves/{{ bind_view.name }}_{{ bind_zone.name }}";
{% if bind_zone.delegate is defined %}
    forwarders {};
{% endif %}
  };

{% if bind_zone.networks is defined %}
{% for network in bind_zone.networks %}
  zone "{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa" IN {
    type slave;
{% if bind_zone.masters is defined %}
    masters { {{ bind_zone.masters }}; };
{% else %}
    masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
    file "slaves/{{ bind_view.name }}_{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
  };
{% endfor %}
{% endif %}

{% if bind_zone.ipv6_networks is defined %}
{% for network in bind_zone.ipv6_networks %}
  zone "{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):] }}" IN {
    type slave;
{% if bind_zone.masters is defined %}
    masters { {{ bind_zone.masters }}; };
{% else %}
    masters { {{ bind_zone_master_server_ip }}; };
{% endif %}
    file "slaves/{{ bind_view.name }}_{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):-1] }}";
  };
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

}; # end {{ bind_view.name }} view


{% endfor %}
{% endif %}
