//
// named.conf 
//
// {{ ansible_managed }}
//
{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};

{% endfor %}
options {
	listen-on port 53 { {{ bind_listen_ipv4|join(';') }}; };
	listen-on-v6 port 53 { {{ bind_listen_ipv6|join(';') }}; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { {{ bind_allow_query|join(';') }}; };
{% if bind_acls|length != 0 %}
	allow-transfer  { {% for acl in bind_acls %}"{{ acl.name }}"; {% endfor %}};
{% endif %}

	recursion no;

	rrset-order { order {{ bind_rrset_order }}; };

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "{{ bind_zone_name }}" IN {
  type slave;
  masters { {{ bind_zone_master_server_ip }}; };
  file "{{ bind_zone_name }}";
};

{% if bind_zone_networks is defined %}
{% for network in bind_zone_networks %}
zone "{{ network|reverse_lookup_zone }}" IN {
  type slave;
  masters { {{ bind_zone_master_server_ip }}; };
  file "{{ network|reverse_lookup_zone }}";
};
{% endfor %}
{% endif %}
